#cabecalho-geral {
    height: 130px;
    background-color: rgb(216, 216, 216);
}
#titulo-geral {
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 34px;
}
#menu-geral {
    margin: 15px 0 15px 0;
    text-align: center;
}
#menu-geral a {
    padding: 7px;
    margin: 0 5px 0 5px;
    background-color: rgb(160, 160, 160);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
#menu-geral a:hover {
    background-color: rgb(118, 118, 118);
    color: rgb(186, 186, 186);
}